.wrapper {
  margin: 0 auto;
  width: calc(min(100%, 1440px));
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: center;
  background-color: #FFFFFF;
}


@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {

}
