@import './variables';
@import './font-tt-lake';
@import './wrapper';
@import './sidebar';
@import './container';
@import './upperbar';
@import './header';
@import './header-swiper';
@import './presentation';
@import './brands';
@import './skills';
@import './prices';
@import './footer';
@import './swiper';

* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  padding: 0;
  margin: 0;
  background-color: $bgColor;
  color: $text;
}

a {
  text-decoration: none;
  color: $text;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.section-title {
  margin: 8px 0;
  background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  padding: 8px 15px;
  text-transform: uppercase;
}

.section-inner {
  padding: 0 $sidePadding;
}

.show-more {
  display: inline-block;
  width: fit-content;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  padding: 5px;
  margin-top: 5px;
  text-decoration: none;
  color: #1B1C21;
  border: none;
  background-color: transparent;

  .fa-angle-double-down {
    color: #1c1cf8;
  }

  &:hover {
    color: #1c1cf8;
    text-decoration: #1c1cf8;
    background-color: rgba(182, 182, 186, 0.52);
    cursor: pointer;
  }
}

.icon {}

.hidden {
  display: none;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 320px) {

}
